.icon-play {
  color: white;
  font-size: 9rem;
  text-decoration: none;
  position: relative;
  animation: spin 2s linear infinite;
  animation-play-state: paused;
}

.icon-play:hover {
  color: rgb(255, 175, 3);
  animation-play-state: running;
}

@keyframes spin {
  0% {
    font-size: 9rem;
  }

  50% {
    font-size: 11rem;
  }

  100% {
    font-size: 9rem;
  }
}
