.TvShow-item {
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 5px 1px #525252;
}

.TvShow img {
  width: 100%;
  margin-bottom: -6px;
}

.TvShow-overlay-title {
  position: absolute;
  bottom: -140px;
  width: 100%;
  border-top: 2px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  color: transparent;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 4px;
  transition: bottom 1s cubic-bezier(0.79, 0.31, 0.56, 1.31);
  font-size: 0.7rem;
}

.TvShow-item:hover .TvShow-overlay-title {
  bottom: 0px;
}
