.AdminMoviesAdd {
    padding-top: 15vh;
    height: 100vh;
}

.AdminMoviesAdd h2{
    color: white;
    font-size: 2rem;
    text-align: center;
}
.AdminMoviesAdd-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AdminMoviesAdd-form {
    margin: auto;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
}

.AdminMoviesAdd-form input {
    height: 40px;
}

.AdminMoviesAdd-form textarea {
    height: 150px;
    margin: 10px 0;
}

.AdminMoviesAdd-form button {
    background-color: #ffa500;
    border: none;
    height: 50px;
    width: 35%;
    text-align: center;
    margin: 25px auto;
    transition: 1s linear;
    border-radius: 15px;
}

.AdminMoviesAdd-form button:hover {
    background-color: #fac564;
    
}