.GalleryShows h1 {
  font-size: 3.5rem;
  letter-spacing: 5px;
}

.GalleryShows-container {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.GalleryShows-icon {
  transform: rotate(25deg);
  padding-left: 0.5%;
  color: orange;
}
