.link-movie {
    flex: 1;
    margin: 1.5%;
}

.link-movie .item {
    position: relative;
    overflow: hidden;
    border-radius: 3%;
    box-shadow: 1px 1px 8px 2px #787878;
}

.link-movie .item img {
    position: relative;
    width: 100%;
    margin-bottom: -6px;
}

.link-movie .item .overlay-title {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 0px;
    transition: height 1s cubic-bezier(0.67, 0.21, 0.74, 1.31);
    ;
}

.link-movie .item:hover .overlay-title {
    height: 90px;
}

