.GalleryMovies{
  text-align: center;
  margin-top: 18vh;
}

.GalleryMovies-container {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

