.AdminMoviesList{
    padding-top: 15vh;
    height: 100vh;
}

.AdminMoviesList-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.AdminMoviesList-title{
    color:white;
}