.AdminMoviesList {
  height: 100vh;
}

.AdminMovies-wrapper {
  padding-top: 12vh;
}

.AdminMoviesList-container {
  background-color: rgb(0 0 0 / 16%);
  border-radius: 15px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.AdminMoviesList h2 {
  color: white;
  text-align: center;
  font-size:2rem;
}
.AdminMoviesList-title {
  color: white;
  padding: 0 10%;
  display: flex;
}

.AdminMoviesList-title p {
  flex: 3;
}

.AdminMoviesList .icon {
  font-size: 1.5rem;
  padding: 10px;
}

.AdminMoviesList-title button {
  background-color: transparent;
  border: none;
}

.AdminMoviesList-title a {
  text-decoration: none;
  padding-top: 3px;
}

.AdminMoviesList-title button .icon {
  color: rgb(250, 100, 100);
}


.AdminMoviesList-title button .icon:hover {
  color: rgb(218, 73, 73);
}

.AdminMoviesList-title a .icon {
  color: orange;
}

.AdminMoviesList-title a .icon:hover {
  color: rgb(209, 140, 10);
}


@media screen and (max-width: 900px) {
  .AdminMoviesList-container {
    grid-template-columns: 1fr;
    width: 85%;
  }
}


@media screen and (max-width: 600px) {
 
  .AdminMoviesList .icon {
    font-size: 1.2rem;
    padding: 5px;
  }
  .AdminMoviesList-title a {
    padding-top: 11px;
  }
}
