.Details {
  padding: 0% 15%;
  margin-top: 15vh;
  height: 100%;
  text-align: center;
  position: relative;
}

.Details-overlay{
  background-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 80%);
  position: absolute;
  left:0;
  right: 0;
  padding-bottom: 50px;
}

.Details h2 {
  font-size: 2.5rem;
  letter-spacing: 8px;
  margin: 0 auto 2%;
}

.Details-container {
  display: flex;
  padding: 0 10% 4%;
}

.Details-synopsis {
  margin: auto;
  margin-bottom: 20px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .Details-container {
    padding: 0 15%;
  }
}