.Details {
  padding: 0% 15%;
  padding-bottom: 50px;
  margin-top: 18vh;
  text-align: center;
}

.Details h2 {
  font-size: 3rem;
  letter-spacing: 8px;
}

.Details-container {
  display: flex;
  margin-bottom: 10%;
}

.Details-synopsis {
  flex: 1.5;
  font-size: 1.1rem;
  margin-top: 0;
  color: white;
  font-weight: bold;
  text-align: justify;
  line-height: 2;
}

.Details-picture {
  flex: 1;
  padding-left: 10%;
}

.Details-picture img {
  width: 100%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border-bottom: 10px solid #ffae00;
    border-top: 10px solid #ffffff;
}

@media only screen and (max-width: 1000px) {
  .Details-container {
    margin: 5%;
    flex-direction: column;
    align-items: stretch;
  }
  .Details-picture {
    padding: 10% 0%;
  }
}