@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Permanent+Marker&display=swap");

body {
  background: linear-gradient(90deg, #f8deb9 13%, #051704d1 96%);
  font-family: "Comic Neue", cursive;
}

.App {
  text-align: center;
}

.heading {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 5px;
}

.back-button{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: lighter;
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 1px #525252;
  transition: background-color 0.5s ease-in-out;
}

.back-button:hover{
  background-color: #f8deb9;
}