@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Permanent+Marker&display=swap");
body {
  font-family: "Comic Neue", cursive;
  background: conic-gradient( rgb(0, 0, 0) 0 20%, rgb(49, 100, 134) 0 70%, rgb(0, 0, 0) 0);
}


#root {
  height: 100%;
}

.App{
  height: 100%;
}

.heading {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}