@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Permanent+Marker&display=swap");
body {
  font-family: "Comic Neue", cursive;
  background: linear-gradient(90deg, rgb(167 167 167) 0%, rgb(0 0 0) 100%);
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.heading {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}
