.App {
  text-align: center;
}

img {
  width: 33%;
}

.container {
  display: flex;
}

.item {
  position: relative;
  flex: 1;
}

.item .overlay-title {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 0px;
  transition: height 1s cubic-bezier(0.67, 0.21, 0.74, 1.31);
  ;
}

.item:hover .overlay-title {
  height: 90px;
}

.item img {
  position: relative;
  width: 100%;
  margin-bottom: -5px;
}

/* for small screens */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
