.App {
  text-align: center;
}

img {
  width: 33%;
}

.container {
  display: flex;
  margin-bottom: -6px;
}

.item {
  flex: 1;
}

.item img {
  width: 100%;
}

/* for small screens */

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}